.footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.footer__nav--heading {
  font-size: 2rem;
  font-weight: 500;
  max-width: 28rem;
  margin-right: 2.5rem;
}

.footer__nav .heading {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
}

.footer__nav .body li {
  margin-bottom: 2rem;
}
.footer__nav .body li a {
  font-size: 1.2rem;
  color: #d7d7d7;
}

.footer__copyright,
.footer__copyright--social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright--social img {
  cursor: pointer;
}

@media screen and (max-width: 48em) {
  .footer__nav {
    flex-direction: column;
  }

  .footer__nav--heading {
    margin-bottom: 3rem;
  }

  .footer__copyright {
    flex-wrap: wrap;
  }
}
