.discover__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 5rem;
}

.discover__header--text {
  font-size: clamp(1.5rem, 1rem + 5vw, 3rem);
  font-weight: 600;
}

.discover__header--filters {
  display: flex;
  gap: 2.5375rem;
}

.discover__header--filters .btn {
  display: flex;
  align-items: center;
  gap: 0.5075rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--primary-color);
  text-transform: capitalize;
  letter-spacing: -1px;
}

.discover__header--filters .btn-primary {
  padding: 0.375rem 2.5375rem;
}

.discover__nfts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
  gap: 1.8125rem;
}
@media screen and (max-width: 48em) {
  .discover__header {
    flex-direction: column;
  }
  .discover__header--filters {
    margin-top: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
