.hero {
  display: flex;
  align-items: center;
}

.hero__content {
  flex: 1;
}

.hero__content--subheading {
  width: 40ch;
  margin: 1.5rem 0 2rem;
  line-height: 150%;
  color: var(--text-color);
}

.hero__content--btns {
  gap: 0 2.5rem;
}

.hero__content--btns > .btn {
  padding-block: 0.75rem;
  padding-inline: 4.2188rem;
}

.hero__image {
  flex: 1;
}

@media screen and (max-width: 67.5rem) {
  .hero {
    display: block;
  }

  .hero__content {
    margin: 0 auto;
  }
  .hero__image {
    margin-top: 3rem;
    display: none;
  }
}

@media screen and (max-width: 48em) {
  .hero__content--btns {
    flex-direction: column;
    width: max-content;
  }

  .hero__content--subheading {
    width: 100%;
  }

  .hero__content--btns > .btn:first-child {
    margin-bottom: 1rem;
  }

  .footer__nav {
    flex-direction: column;
  }
}
