.nft-card {
  position: relative;
  max-width: 31rem;
  border-radius: 2.1875rem;
  padding: 1.5rem 1.75rem;
  border: 0.88px solid transparent;
  background: var(--gradient-2);
  z-index: 0;
}

.nft-card__img {
  max-width: 27.8125rem;
  height: 27.8125rem;
  border-radius: 20px;
  background: url("../../assets/imgs/nft-bg.jpg") no-repeat center center/cover;
  margin-bottom: 2.0625rem;
}

.nft-card__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nft-card__details--owner {
  display: flex;
  align-items: center;
}

.nft-card__details--owner__info {
  margin-left: 0.75rem;
  display: flex;
  flex-direction: column;
}

.nft-card__details--owner__info .name {
  font-weight: 600;
}
.nft-card__details--owner__info .eth {
  font-weight: 400;
}
.nft-card__details--stats {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.nft-card__details--stats__head {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 3px;
}

.nft-card__details--stats__likes {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: flex-end;
}

/* ==================== Bid Card ==================== */
.sell-card {
  display: flex;
  flex-direction: column;
}
.sell-card__img {
  width: 100%;
  height: 100%;
  margin-bottom: 1.5rem;
}

.sell-card__img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.sell-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sell-card__info .name {
  font-weight: 600;
}

.sell-card__info .eth {
  font-weight: 500;
}

.line-break {
  width: 100%;
  height: 2px;
  background-color: var(--light-grey);
  margin: 1rem 0 1.5rem;
}

.sell-card__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sell-card__actions--countdown {
  color: var(--dark-grey);
}
.sell-card__actions--countdown .time {
  color: var(--primary-color);
  font-weight: 500;
}

.sell-card__actions .btn-secondary {
  padding: 0.125rem 1.5rem;
  text-transform: capitalize;
  border-radius: 8px;
}
