.header {
  position: relative;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  text-transform: uppercase;
  background-image: var(--main-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.header__btns > .btn {
  padding: 0.75rem 2.1875rem;
}
