/* ================ Variables ================ */
:root {
  /* Colors */
  --primary-color: #fff;
  --secondary-color: #1f1d2b;

  --dark-grey: #bcbcbc;
  --light-grey: #c4c4c4;
  --text-color: #e2e2e2;

  /* Gradients */

  --accent: linear-gradient(
    103.91deg,
    #9b51e0 21.01%,
    rgba(48, 129, 237, 0.8) 100%
  );

  --main-gradient: linear-gradient(93.51deg, #9b51e0 2.84%, #3081ed 99.18%);
  --gradient-2: linear-gradient(169.44deg, #3a81bf14 1.85%, #41305a14 98.72%);

  /* Borders */
  --border-1: #d7d7d7;
  /* fonts */
  --font-family: "Poppins", sans-serif;
  --line-height: 1.5;

  --fs-600: 2.2rem;
  --fs-500: 1.5rem;
  --fs-400: 1rem;
}

/* ================ Basic Reset ================ */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================ Basic Styling ================ */
body {
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--fs-400);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s ease-in-out;
}
a:hover {
  background: var(--main-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

section,
footer {
  padding: 5rem 0;
}

h2 {
  font-size: clamp(2.3rem, 1rem + 7vw, 4.3rem);
  font-weight: 600;
  line-height: 114%;
  letter-spacing: -2px;
}

h3 {
  font-size: clamp(1.75rem, 1rem + 4vw, 3rem);
}

h4 {
  font-size: clamp(1.125rem, 1rem + 2vw, 2rem);
}

.container {
  max-width: clamp(60rem, 100%, 100rem);
  padding-inline: min(5vw, 5rem);
  margin: 0 auto;
}

.btn-group {
  display: flex;
}
.line-break {
  width: 100%;
  height: 2px;
  background-color: var(--light-grey);
  margin: 1rem 0 1.5rem;
}

@media screen and (min-width: 40em) {
  :root {
    --fs-600: 2rem;
    --fs-400: 1.125rem;
  }
}
